body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.customer {
    margin: 1.5rem;
}

.photo > img {
    width: 8rem;
    border-radius: 3rem 5rem;
}

.name {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0.2rem;
}

.email {
    color: gray;
    padding: 0.2rem;
}

.address1 {
    padding: 0.2rem 0 0 0;
}

.address2 {
    padding: 0 0 0.2rem 0;
}

.dob {
    padding: 0.2rem 0 0 0;
}